body{
    background-color: #F5EDE3;
}
.nav-item {
    display: inline;
    float: left;
    height: 60px;
    width: 32%;
    padding: 80px 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 60px;
    padding-top: 10px;
}

#nav-bar {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
}
.nav-list{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.resultados {
    width: 90%;
    background-color: #d4dfb9;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px; 
}

.zonatex{
    width: 65%;
    height: 500px;
    background-color:  #F5EDE3;
    display: inline;
    float: left;
    margin-bottom: 10px;
}

.zonaimg{
    width: 35%;
    height: 500px;
    background-color: #F5EDE3;
    display: inline;
    float: right;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 30px 40px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 20px 40px;
    width: 80%;
}

li {
    background-color: #b37b6e;
}

.activo {
    background-color: #104386;
}

img {
    float: right;
}